#result{
    background-color: red;
    height:30vh;
    width:30vw;
}
.img_size{
    width:300px;
    height:300px;
}
.mise_en_forme_result_recherche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top: 25px;

}
main{
    min-height: 80vh;
    background-image: url('../images/background_autocompletion.png');
    background-size:cover;
    background-position-y: 50%;
}
.mise_en_forme_result_recherche_a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(7, 54, 66, 0.4);
    width:20%;
    height:30vh;
    color: white;
    font-size: 2em;
}
.mise_en_forme_result_recherche_center_element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:70vh;
}
#matchList_header{
    background-color:white;
    /* min-height:10vh; */
    /* height:0; */
    width: 10vw;
    /* margin-top: 40px; */
    /* padding:10px; */
    border-bottom-right-radius:  0.5em;
    border-bottom-left-radius:  0.5em;
    box-shadow: 1px 1px 1px grey;
    position: absolute ;
    z-index: 1;
}
@font-face {
    font-family: 'signature';
    src: url('../fonts/signature/Zenzai-Itacha.ttf');
}
#signature{
    margin-top: 5px;
    font-family: 'signature';
}
#img_signature{
    height:80px;
    width:80px;
}

/* @media (min-width: 2250px) and (max-width: 2550px) {
  
    .mise_en_forme_result_recherche_a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgba(7, 54, 66, 0.4);
        width:30vw;
        height:30vh;
        color: white;
        font-size: 2em;
    }
    .mise_en_forme_result_recherche_center_element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        min-height:70vh;
    }
    
  }
@media (min-width: 1850px) and (max-width: 2249px) {
  
    .mise_en_forme_result_recherche_a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgba(7, 54, 66, 0.4);
        width:30vw;
        height:30vh;
        color: white;
        font-size: 2em;
    }
    .mise_en_forme_result_recherche_center_element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        min-height:70vh;
    }
    
  }*/
  @media (min-width: 1250px) and (max-width: 1949px) {
  
    .mise_en_forme_result_recherche_a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(7, 54, 66, 0.4);
    width:25%;
    height:30vh;
    color: white;
    font-size: 2em;
    }
}

  @media (min-width: 1250px) and (max-width: 1549px) {
  
  .mise_en_forme_result_recherche_a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(7, 54, 66, 0.4);
    width:25%;
    height:27vh;
    color: white;
    font-size: 2em;
    }
    .img_size{
        width:250px;
        height:250px;
    }
    
  } 
  @media (min-width: 1000px) and (max-width: 1249px) {
  
    .mise_en_forme_result_recherche_a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgba(7, 54, 66, 0.4);
        width:30%;
        height:25vh;
        color: white;
        font-size: 2em;
        }
        .img_size{
            width:200px;
            height:200px;
        }
    }
    @media (min-width: 750px) and (max-width: 1000px) {
  
        .mise_en_forme_result_recherche_a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgba(7, 54, 66, 0.4);
            width:35%;
            height:20vh;
            color: white;
            font-size: 2em;
            }
            .img_size{
                width:200px;
                height:200px;
            }
            
        }
    @media (min-width: 500px) and (max-width: 750px) {

        .mise_en_forme_result_recherche_a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgba(7, 54, 66, 0.4);
            width:50%;
            height:20vh;
            color: white;
            font-size: 2em;
            }
            .img_size{
                width:200px;
                height:200px;
            }
        }