#matchList{
    background-color:white;
    /* min-height:10vh; */
    /* height:0; */
    width: 12vw;
    margin-top: 50px;
    /* padding:10px; */
    border-bottom-right-radius:  0.5em;
    border-bottom-left-radius:  0.5em;
    box-shadow: 1px 1px 1px grey;
    position: absolute ;
    z-index: 1;
}
#matchList_header{
    background-color:white;
    /* min-height:10vh; */
    /* height:0; */
    width: 10vw;
    margin-top: 40px;
    /* padding:10px; */
    border-bottom-right-radius:  0.5em;
    border-bottom-left-radius:  0.5em;
    box-shadow: 1px 1px 1px grey;
    position: absolute ;
    z-index: 1;
}
input[type=text]{
    width:100%;
}
.flex_col{
    display: flex;
    flex-direction: column;
    width:12vw;
}
form{
    display: flex;
    flex-direction: row;
}
main{
    min-height: 80vh;
    background-image: url('../images/background_autocompletion.png');
    background-size:cover;
    background-position-y: 50%;
}
#search{
    background-color: #073642;
    height:4vh

}
#text_search{
    height: 4vh;
    font-size: 1.5em;
    
}
#footer_link{
    color:white
}
#img_signature{
    height:80px;
    width:80px;
}
@font-face {
    font-family: 'signature';
    src: url('../fonts/signature/Zenzai-Itacha.ttf');
}
#signature{
    margin-top: 5px;
    font-family: 'signature';
}

/* media queries */


  @media (min-height: 850px) {
  
    #search{
        background-color: #073642;
        height:4vh
    }
    #text_search{
        height: 4vh;
        font-size: 1.5em;
        
    }

}@media (max-height: 849px) and (min-height:550px) {

    #search{
        background-color: #073642;
        height:6vh
    }
    #text_search{
        height: 6vh;
        font-size: 1.5em;

        
    }
}@media (max-height: 550px) {

    #search{
        background-color: #073642;
        height:10vh
    }
    #text_search{
        height: 10vh;
        font-size: 1.5em;

        
    }
}